<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">Crown Wealth</a>
    </div>
    <ul class="nav-links">
      <li><a href="#" class="text-blue">Home</a></li>
      <li><a href="#" class="text-blue">About</a></li>
      <li><a href="#" class="text-blue">Our Parthers</a></li>
      <li><a href="#" class="text-blue">Admin Login</a></li>
      <li><a href="#" class="text-blue">User Login</a></li>
      <li><a routerLink="/login" href="login" class="text-blue">Login</a></li>
    </ul>
  </div>
</nav>

<!-- adminLogin -->
