<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="#">Crown Wealth</a>
    </div>
    <ul class="nav-links d-md-none d-lg-flex">
      <li><a href="#" class="text-blue">Home</a></li>
      <li><a href="#" class="text-blue">About</a></li>
      <li><a href="#" class="text-blue">Our Partners</a></li>
      <li>
        <a href="/adminLogin" class="text-blue">Admin Login</a>
      </li>
      <li>
        <a href="/userRegister" class="text-blue">User Register</a>
      </li>
    </ul>
  </div>
</nav>
<!-- 
<div class="container mt-4 d-lg-none d-md-flex">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <li>
        <a href="/adminLogin" class="text-blue">Admin Login</a>
      </li>
      <li>
        <a href="/userLogin" class="text-blue">User Login</a>
      </li>
    </div>
  </div>
</div> -->
